
:root {
	
	// common
	
	--text:					#454545;
	--text-light:			rgba(69,69,69,.7);
	--app-color-focus:		rgba(254,226,152,.5);
	--dividers:				#e6e6e6;
	--header-border:		#b5b4b5;
	--accent:				#3478f6;
	--accent-light:			#3279FF;
	--accent-dark:			#004EE1;
	
	// toolbar
	
	--toolbar-hover:		rgba(0,0,0,.05);
	--toolbar-border:		rgba(69,69,69,.5);
	
	// edit
	
	--edit: 				#ffffff;
	--edit-hover:			rgba(69,69,69,.5);
	--edit-active:			rgba(69,69,69,.8);
	
	// modal
	
	--window:				#ededed;
	--input-color:			#000000;
	--input-border:			#cccccc;
	--input-background:		#ffffff;
	--select:				#ffffff;
	--select-border:		#b2b2b2;
	
	// buttons
	
	--button:				#ffffff;
	--button-color:			rgba(0,0,0,.85);
	--button-border:		#c0c0c0;	
	
	// note
	
	--link:					#1e90ff;
	--hover:				#005ee0;
	--code:					#ebebeb;
	--code-color:			#777777;
	--mark:					#000000;
	--table-border:			#dddddd;
	--table-head:			#ffffff;
	--table-stripe:			rgba(69,69,69,.03);
	
	// editor
	
	--code-red-lt:			#fb434a;
	--code-red-dk:			#af2e33;
	--code-orange-lt:			#ffa657; //#f27e17;
	--code-orange-dk:			#a85710;
	--code-yellow-lt:			#fecb57;
	--code-yellow-dk:			#b18d3c;
	--code-aqua-lt:			#50e3c2;
	--code-aqua-dk:			#379e87;
	--code-green-lt:			#18bf64;
	--code-green-dk:			#108545;
	--code-khaki-lt:			#63a35c;
	--code-khaki-dk:			#457140;
	--code-cyan-lt:			#3d9fc7;
	--code-cyan-dk:			#2a6e8a;
	--code-blue-lt:			#007cff;
	--code-blue-dk:			#0056b2;
	--code-indigo-lt:			#0058b3;
	--code-indigo-dk:			#003d7c;
	--code-purple-lt:			#9013fe;
	--code-purple-dk:			#640db1;
	--code-pink-lt:			#ff42f6;
	--code-pink-dk:			#b22eab;
	--code-grey-lt:			#acbbd0;
	--code-grey-dk:			#788291;
}


[data-theme^="dark"] {
	
	// common
	
	--text:					#dcdcdc;
	--text-light:			rgba(255,255,255,.6);
	--app-color-focus:		#343434;
	--dividers:				#484848;
	--header-border:		#000000;
	
	// toolbar
	
	--toolbar-hover:		rgba(255,255,255,.05);
	--toolbar-border:		rgba(255,255,255,.3);
	
	// edit
	
	--edit: 				#1e1e1e;
	--edit-hover:			rgba(255,255,255.5);
	--edit-active:			rgba(255,255,255.8);
	
	// modal
	
	--window:				#343434;
	--input-color:			rgba(255,255,255,.75);
	--input-border:			rgba(255,255,255,.1);
	--input-background:		rgba(255,255,255,.05);
	--select:				#616161;
	--select-border:		#7f7f7f;
	
	// buttons
	
	--button:				#616161;
	--button-color:			rgba(255,255,255,.85);
	--button-border:		#7f7f7f;
	
	// note
	
	--code:					#1e1e1e;
	--code-color:			#ffffff;
	--mark:					#ffffff;
	--table-border:			#484848;
	--table-head:			#484848;
	--table-stripe:			rgba(255,255,255,.03);
}

[data-theme^="matcha-azul"] {
	
	// common
	
	--text:					#2e313d;
	--text-lighter:			#c6cbcf;
	--text-light:			#ffffff;
	--app-color-focus:		#3498db;
	--dividers:				#72757d;
	--header-border:		#72757d;

	// theme colors from nautilus
	--matcha-azul-text:				#2e313d;
	--matcha-azul-text-lighter:		#c6cbcf;
	--matcha-azul-text-light:		#ffffff;
	--matcha-azul-sidebar:			#30343e;
	--matcha-azul-sidebar-hover:	#454a54;
	--matcha-azul-header:			#1b1d24;
	--matcha-azul-selected: 		#3498db;
	--matcha-azul-white:			#ffffff;
	--matcha-azul-tabs:				#f7f7f7;
  	--matcha-azul-scrollbar: 		#d0d1d3;
  	--matcha-azul-search:	 		#333641;
	--matcha-azul-grey-1:			#f0f1f3;
	--matcha-azul-grey-2:			#e0e1e3;
	--matcha-azul-grey-3:			#d0d1d3;
	--matcha-azul-grey-4:			#c0c1c3;
	--matcha-azul-grey-5:			#b0b1b3;
	--matcha-azul-grey-6:			#a0a1a3;
	--matcha-azul-grey-7:			#909193;
	--matcha-azul-grey-8:			#808183;
	
	// toolbar
	
	--toolbar-hover:		#33353B;
	--toolbar-border:		#33353B;
	
	// edit
	
	--edit: 				#f9f9f9;
	--edit-hover:			#f6f6f6;
	--edit-active: 			#f3f3f9;
	
	// modal
	
	--window:				#2dff00;
	--input-color: #227310;
	--input-border: #85c274;
	--input-background: #041601;
	--select: #4ef512;
	--select-border: #0e2907;
	
	// buttons
	
	--button: #74ccb8;
	--button-color: #407871;
	--button-border: #63c8b2;
	
	// note
	
	--code: #c11cc9;
	--code-color: #6b1972;
	--mark: #4b1356;
	--table-border: #950fef;
	--table-head: #710ad0;
	--table-stripe: #6a0bd7;
}
